<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/admin}">
<head>
    <title>Admin - Categories</title>

</head>
<body>

    <!-- Begin Page Content -->
    <div class="container-fluid" th:fragment="content">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Categories</h1>

            <a href="#"
               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
               data-toggle="modal"
               data-target="#addCategoryModal">
                <i class="fas fa-plus-circle fa-sm text-white-50"></i> Add Category</a>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Categories List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>

                        <tr th:each="category : ${categories}">
                            <td th:text="${category.categoryName}"></td>
                            <td>

                                <a href="#" data-toggle="modal"
                                   th:attr="data-target='#updateModal' + ${category.categoryId}"
                                   class="btn btn-primary btn-circle btn-sm"
                                   title="Update">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="#" data-toggle="modal"
                                   th:attr="data-target='#deleteModal' + ${category.categoryId}"
                                   class="btn btn-danger btn-circle btn-sm" title="Delete">
                                    <i class="fas fa-trash"></i>
                                </a>

                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <!-- Modal Add Category -->
        <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form
                            class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                            th:action="@{/category/add}"
                            method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createModalLabel">Create Category</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <label for="categoryName" class="col-form-label">Category Name: &nbsp;</label>
                                <input name="categoryName" id="categoryName" type="text" class="form-control bg-light border-0 small" placeholder="Name"
                                       aria-label="Category Name" aria-describedby="basic-addon2" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Update Category -->
        <div th:each="category : ${categories}"
             th:attr="id='updateModal' + ${category.categoryId}"
             class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="createModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form
                            class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                            th:action="@{/category/update/{id}(id=${category.categoryId})}"
                            method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateModalLabel">Update Category</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <label for="categoryName" class="col-form-label">Category Name: &nbsp;</label>
                                <input name="categoryName" id="categoryName" type="text" class="form-control bg-light border-0 small"
                                       aria-label="Category Name" aria-describedby="basic-addon2" required
                                       th:attr="value=${category.categoryName}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Delete Category -->
        <div th:each="category : ${categories}"
             th:attr="id='deleteModal' + ${category.getCategoryId()}"
             class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Are you sure you want to delete <b th:text="${category.categoryName}"></b> category?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger"
                           th:href="@{/category/delete/{id}(id=${category.getCategoryId()})}">Delete</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->



</body>
</html>